</br>
<font size="3"> <%= link_to "HOME", home_path %> </font>
<% if current_user.present? && current_user.is_admin? %>
	<h1  style="color:FireBrick">Editing Train</h1>

		<%= render 'form' %>

		<%= link_to 'Show', @train %> |
		<%= link_to 'Back', trains_path %>
<% else %>

	<h1  style="color:FireBrick">DENIED ACCESS</h1>
<% end %>
