</br>
</br>
<%= link_to "HOME", home_path %>
<h1 style="color:FireBrick">New railroute_stop</h1>

	<%= render 'form' %>

	<%= link_to 'Back', railroutes_trains_path %>
<% else %>
	<h1 style="color:FireBrick">denied access</h1>
<% end %>
