</br>
</br>
<%= link_to "HOME", home_path %>
<% if current_user.present? && current_user.is_admin? %>
	<h1>Editing rail_route</h1>

	<%= render 'form' %>

	<%= link_to 'Show', @rail_route %> |
	<%= link_to 'Back', rail_routes_path %>
<% else %>
	<h1 style="color:FireBrick">DENIED ACCESS</h1>
<% end %>